<a href="https://colab.research.google.com/github/tranhuuan170302/GitProject/blob/main/lesson_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
df_center = pd.read_csv("/content/drive/MyDrive/phân tích dữ liệu/thao tác dữ liệu/data/shopeep_koreantop_clothing_shop_data.csv")

In [26]:
df_center.head()

             pk_shop date_collected  ...  is_shopee_verified is_official_shop
0  20210613254711738     2021-06-13  ...                   1                0
1  20210613314198143     2021-06-13  ...                   0                0
2   2021061310377223     2021-06-13  ...                   1                0
3   2021061321407329     2021-06-13  ...                   1                0
4   2021061311187885     2021-06-13  ...                   1                0

[5 rows x 18 columns]

# 2. tách kiểu dữ liệu chuỗi

In [27]:
df_center['district1'] = df_center['shop_location'].str.split(',').str[0]

In [28]:
df_center.head()

             pk_shop date_collected  ...  is_official_shop      district1
0  20210613254711738     2021-06-13  ...                 0            NaN
1  20210613314198143     2021-06-13  ...                 0    San Nicolas
2   2021061310377223     2021-06-13  ...                 0     Pasay City
3   2021061321407329     2021-06-13  ...                 0        Binondo
4   2021061311187885     2021-06-13  ...                 0  Caloocan City

[5 rows x 19 columns]

In [29]:
df_center.head()

             pk_shop date_collected  ...  is_official_shop      district1
0  20210613254711738     2021-06-13  ...                 0            NaN
1  20210613314198143     2021-06-13  ...                 0    San Nicolas
2   2021061310377223     2021-06-13  ...                 0     Pasay City
3   2021061321407329     2021-06-13  ...                 0        Binondo
4   2021061311187885     2021-06-13  ...                 0  Caloocan City

[5 rows x 19 columns]

# 3. tách cột dữ liệu ngày tháng

In [30]:
days = pd.to_datetime(df_center['date_collected'], format='%Y-%m-%d').dt.day
months = pd.to_datetime(df_center['date_collected'], format='%Y-%m-%d').dt.month
years  = pd.to_datetime(df_center['date_collected'], format='%Y-%m-%d').dt.year
df_center.insert(loc = 3, column='days', value = days)
df_center.insert(loc = 4, column = 'months', value = months)
df_center.insert(loc = 4, column = 'years', value = years)

In [31]:
df_center.head()

             pk_shop date_collected  ...  is_official_shop      district1
0  20210613254711738     2021-06-13  ...                 0            NaN
1  20210613314198143     2021-06-13  ...                 0    San Nicolas
2   2021061310377223     2021-06-13  ...                 0     Pasay City
3   2021061321407329     2021-06-13  ...                 0        Binondo
4   2021061311187885     2021-06-13  ...                 0  Caloocan City

[5 rows x 22 columns]

# 4. tách cột dữ liệu thời gian

In [36]:
df_center.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   pk_shop             746 non-null    int64
 1   date_collected      746 non-null    object
 2   shopid              746 non-null    int64
 3   days                746 non-null    int64
 4   years               746 non-null    int64
 5   months              746 non-null    int64
 6   name                746 non-null    object
 7   join_month          746 non-null    object
 8   join_day            746 non-null    int64
 9   join_year           746 non-null    int64
 10  item_count          746 non-null    int64
 11  follower_count      746 non-null    int64
 12  response_time       746 non-null    object
 13  response_rate       746 non-null    int64
 14  shop_location       428 non-null    object
 15  rating_bad          746 non-null    int64
 16  rating_good         746 non-null    int64
 17  rating_normal       746 non-null    int64
 18  rating_star         740 non-null    float64
 19  is_shopee_verified  746 non-null    int64
 20  is_official_shop    746 non-null    int64
 21  district1           428 non-null    object
dtypes: float64(1), int64(15), object(6)
memory usage: 128.3+ KB

In [38]:
hours = pd.to_datetime(df_center['response_time'], format = ' %H:%M:%S').dt.hour
minutes = pd.to_datetime(df_center['response_time'], format = ' %H:%M:%S').dt.minute
seconds = pd.to_datetime(df_center['response_time'], format = ' %H:%M:%S').dt.second
df_center.insert(loc = 13, column='second', value = seconds)
df_center.insert(loc = 14, column = 'minute', value = minutes)
df_center.insert(loc = 15, column = 'hour', value = hours)

In [39]:
df_center.head()

             pk_shop date_collected  ...  is_official_shop      district1
0  20210613254711738     2021-06-13  ...                 0            NaN
1  20210613314198143     2021-06-13  ...                 0    San Nicolas
2   2021061310377223     2021-06-13  ...                 0     Pasay City
3   2021061321407329     2021-06-13  ...                 0        Binondo
4   2021061311187885     2021-06-13  ...                 0  Caloocan City

[5 rows x 25 columns]